-r requirements.in

pytest
pytest-cov
pytest-django
pytest-sugar
flake8
requests_mock
freezegun
codecov
factory-boy==2.8.1
beautifulsoup4
wagtail-factories==2.0.0
django-debug-toolbar
django-debug-toolbar==2.0
