django
gunicorn
gevent
raven
django_storages
whitenoise
dj-database-url
psycopg2
django-pglocks
google-cloud-translate
boto3
sigauth
directory-healthcheck
export-elements
directory_constants
django-admin-ip-restrictor
html2text

wagtail
-e git+https://github.com/infoportugal/wagtail-modeltranslation.git@v0.9.0#egg=wagtail_modeltranslation
wagtail-markdown

