django==2.2.*
djangorestframework==3.9.*
django-environ==0.4.5
gunicorn==19.5.0
sentry-sdk==0.13.4
django_storages==1.7.1
whitenoise==4.1.2
dj-database-url==0.5.0
psycopg2==2.7.3.2
django-pglocks==1.0.2
boto3==1.6.3
sigauth==4.1.0
directory-healthcheck==1.*
directory-components==20.*
directory-constants==18.*
django-staff-sso-client==1.*
html2text==2018.1.9
wagtail==2.7.*
wagtailmedia==0.*
pytube==9.2.2
django-filter==2.2.0
django-redis==4.10.0
celery[redis]
django-celery-beat==2.0.0
kombu==4.*
requests==2.21.0
markdown==2.6
bleach==3.*
bleach-whitelist==0.*
wagtail-modeltranslation==0.*
urllib3>=1.24.2<2.0.0
w3lib>=1.19.0<2.0.0
django-admin-ip-restrictor==2.1.0
notifications-python-client==5.3.*
pillow>=7.1.0
num2words==0.5.10
pycountry==19.8.18
elastic-apm>=5.5.2,<6.0.0
gevent>=20.6.1,<21.0.0
psycogreen>=1.0.2,<2.0.0
