@import '../partials/colours';
@import '../partials/mixins';
@import './partials/layout';
@import './partials/typography';

@import 'staticfiles/export_elements/stylesheets/govuk-elements-styles';

#content {
  max-width: none;
}

img.placeholder {
  background-color: $light-grey;
  border: $mid-grey solid 1px;
  display: block;
  padding: 16%;
}

section {
  clear: both;
  overflow: hidden;
  
  .heading {
    @include columns(6);
    @include heading-m;
    margin-bottom: $spacing-4;
  }

  .intro {
    @include columns(6);
    clear: left;
    margin-bottom: $spacing-2;
  }
}

.container {
  max-width: $design-max-width;
  margin: 0 auto;

  @media (max-width: #{$design-max-width + ($spacing-3 * 2)}) {
    margin: 0 $spacing-3;
  }

  @media (max-width: 420px) {
    margin: 0 20px; // Special figure intentionally outside of standard.
  }
}

.group {
  // Use to clear a group of floated elements 
  // and have the parent recalculate its height.
  clear: both;
  float: none;
  overflow: auto;
}

.verbose {
  overflow: hidden;
  position: absolute;
  text-indent: -1000px;
  z-index: -1;
}

#content .hidden {
  display: none;
}

.error-reporting {
  padding-top: 0;
  padding-bottom: 0px;
}

.error-reporting {
  a {
    font-size: 16px;
    line-height: 1.63;
    text-align: left;
    color: #999999;
  }
}

// TABLET
@media (max-width: 767px) {
  section {
    .heading,
    .section-header,
    .intro,
    .section-intro {
      width: 100%;
    }
  }
}


// MOBILE
@media (max-width: 420px) {
  body {
    @include body-m-mob;
  }
  
  section {
    padding-top: $spacing-3;
    .heading,
    .section-header {
      @include heading-m-mob;
    }
  }
}
