version: 2
jobs:
  test:
    docker:
      - image: circleci/python:3.6.6
    steps:
      - setup_remote_docker
      - run:
          name: Install Docker Compose
          command: |
            curl -L https://github.com/docker/compose/releases/download/1.21.2/docker-compose-`uname -s`-`uname -m` > ~/docker-compose
            chmod +x ~/docker-compose
            sudo mv ~/docker-compose /usr/local/bin/docker-compose
      - checkout
      - run:
          command: make docker_test
  deploy_to_dev:
    docker:
      - image: circleci/python:3.6.6
    steps:
      - setup_remote_docker
      - run:
          name: Install Docker Compose
          command: |
            curl -L https://github.com/docker/compose/releases/download/1.21.2/docker-compose-`uname -s`-`uname -m` > ~/docker-compose
            chmod +x ~/docker-compose
            sudo mv ~/docker-compose /usr/local/bin/docker-compose
      - checkout
      - run:
          command: make heroku_deploy_dev
  integration_tests:
    docker:
      - image: circleci/python:3.6.6
    steps:
      - setup_remote_docker
      - run:
          name: Install Docker Compose
          command: |
            curl -L https://github.com/docker/compose/releases/download/1.21.2/docker-compose-`uname -s`-`uname -m` > ~/docker-compose
            chmod +x ~/docker-compose
            sudo mv ~/docker-compose /usr/local/bin/docker-compose
      - checkout
      - run:
          command: make integration_tests

workflows:
  version: 2
  test_and_deploy_to_dev_and_run_integration_tests:
    jobs:
      - test
      - deploy_to_dev:
          requires:
            - test
          filters:
            branches:
              only: master
      - integration_tests:
          requires:
            - deploy_to_dev
          filters:
            branches:
              only: master
