{% extends "wagtailadmin/base.html" %}

{% load i18n %}

{% block titletag %}{% trans "Review" %}{% endblock %}

{% block content %}
<header>
    <div class="row nice-padding">
        <div class="col header-title">
            <h1>Review</h1>
        </div>
    </div>
</header>

<div class="panel nice-padding">
    <section>
        <h2>{% trans 'ready for publish' %}</h2>

        <table class="listing">
            <col width="15%"/>
            <col width="15%"/>
            <col width="15%"/>
            <col width="15%"/>
            <col />
            <col width="15%"/>
            <thead>
                <tr>
                    <th class="title">{% trans "Page name" %}</th>
                    <th>{% trans "Parent page" %}</th>
                    <th>{% trans "Created by" %}</th>
                    <th>{% trans "Creation date" %}</th>
                    <th>{% trans "Review status reason" %}</th>
                    <th>{% trans "Review status" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for moderation in object_list %}
                {% with page=moderation.revision.page %}
                <tr>
                    <td class="title" valign="top">
                        <h2>
                            <a href="{% url 'wagtailadmin_pages:edit' page.id %}" title="{% trans 'Edit this page' %}">{{ page.get_admin_display_title }}</a>

                            {% include "wagtailadmin/pages/listing/_privacy_indicator.html" %}
                            {% include "wagtailadmin/pages/listing/_locked_indicator.html" %}
                        </h2>

                        <ul class="actions">

                            <li>
                                <a href="{% url 'wagtailadmin_pages:edit' page.id %}" class="button button-small button-secondary">
                                    {% trans 'Edit' %}
                                </a>
                            </li>

                            <li>
                                <a href="{% url 'moderation-queue:preview_moderation' moderation.id %}" class="button button-small button-secondary" target="_blank">
                                    {% trans 'Preview' %}
                                </a>
                            </li>

                        </ul>
                    </td>

                    <td valign="top">
                        <a href="{% url 'wagtailadmin_explore' page.get_parent.id %}">{{ page.get_parent.get_admin_display_title }}</a>
                    </td>

                    <td class="type" valign="top">
                        {{ moderation.revision.user.get_full_name|default:moderation.revision.user.get_username }}
                    </td>

                    <td valign="top">
                        <div class="human-readable-date" title="{{ moderation.created_at|date:"d M Y H:i" }}">
                            {% blocktrans with time_period=moderation.created_at|timesince %}{{ time_period }} ago{% endblocktrans %}
                        </div>
                    </td>

                    <td valign="top">
                        <p>{{ moderation.latest_review.comment }}</p>
                    </td>

                    <td valign="top">
                        {% if moderation.is_2i_moderated %}
                        <p>Approved</p>
                        {% endif %}

                        <a href="" class="button button-small button-secondary">
                            {% trans "Schedule Publish" %}
                        </a>
                    </td>

                </tr>
                {% endwith %}
                {% endfor %}
            </tbody>
        </table>

        {% if pending_reviews %}
        <h2>{% trans "Draft pages that need changes" %}</h2>

        <table class="listing">
            <col width="15%"/>
            <col width="15%"/>
            <col width="15%"/>
            <col width="15%"/>
            <col />
            <col width="15%"/>
            <thead>
                <tr>
                    <th>{% trans "Page name" %}</th>
                    <th>{% trans "Parent page" %}</th>
                    <th>{% trans "Created by" %}</th>
                    <th>{% trans "Creation date" %}</th>
                    <th>{% trans "Review status reason" %}</th>
                    <th>{% trans "Review status" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for review in pending_reviews %}
                {% with page=review.moderation.revision.page %}
                <tr>
                    <td class="title" valign="top">
                        <h2>
                            {{ page.get_admin_display_title }}

                            {% include "wagtailadmin/pages/listing/_privacy_indicator.html" %}
                            {% include "wagtailadmin/pages/listing/_locked_indicator.html" %}
                        </h2>
                    </td>

                    <td valign="top">
                        <a href="{% url 'wagtailadmin_explore' page.get_parent.id %}">{{ page.get_parent.get_admin_display_title }}</a>
                    </td>

                    <td class="type" valign="top">
                        {% if review.user == request.user %}
                        {% trans "You" %}
                        {% else %}
                        {{ review.user.get_full_name|default:review.user.get_username }}
                        {% endif %}
                    </td>

                    <td valign="top">
                        <div class="human-readable-date" title="{{ review.created_at|date:"d M Y H:i" }}">
                            {% blocktrans with time_period=review.created_at|timesince %}{{ time_period }} ago{% endblocktrans %}
                        </div>
                    </td>

                    <td valign="top">
                        <p>{{ review.comment }}</p>
                    </td>

                    <td valign="top">
                        <p>Needs changes</p>

                        <a href="{% url 'wagtailadmin_pages:edit' page.id %}" class="button button-small button-secondary">
                            {% trans "Update" %}
                        </a>
                    </td>

                </tr>
                {% endwith %}
                {% endfor %}
            </tbody>
        </table>
        {% endif %}

    </section>
</div>
{% endblock content %}
