{% load i18n wagtailadmin_tags wagtailui_tags %}

{% comment %}

Override Wagtail's template to improve the page reordering toggle.
Remove this when upgrading to a version of Wagtail that contains those changes,
https://github.com/wagtail/wagtail/pull/5187.

{% endcomment %}

<tr class="table-headers">
    {% if show_ordering_column %}
        <th class="ord{% if orderable and ordering == 'ord' %} ord--active{% endif %}">
            {% if orderable %}
                {% if ordering == "ord" %}
                    <a href="{% url 'wagtailadmin_explore' parent_page.id %}" title="{% trans 'Disable ordering of child pages' %}">
                        {% wagtail_icon name="order" %}{% trans 'Sort' %}
                    </a>
                {% else %}
                    <a href="{% url 'wagtailadmin_explore' parent_page.id %}?ordering=ord" title="{% trans 'Enable ordering of child pages' %}">
                        {% wagtail_icon name="order" %}{% trans 'Sort' %}
                    </a>
                {% endif %}
            {% endif %}
        </th>
    {% endif %}
    <th class="title">
        {% if sortable %}
            <a href="{% if ordering == 'title' %}{% querystring ordering='-title' %}{% else %}{% querystring ordering='title' %}{% endif %}" class="icon icon-arrow-{% if ordering == 'title' %}down-after{% elif ordering == '-title' %}up-after{% else %}down-after{% endif %} {% if ordering == 'title' or ordering == '-title' %}teal{% endif %}">
                {% trans 'Title' %}
            </a>
        {% else %}
            {% trans 'Title' %}
        {% endif %}
    </th>
    {% if show_parent %}
    <th class="parent">{% trans 'Parent' %}</th>
    {% endif %}
     <th class="updated">
        {% if sortable %}
            <a href="{% if ordering == 'latest_revision_created_at' %}{% querystring ordering='-latest_revision_created_at' %}{% else %}{% querystring ordering='latest_revision_created_at' %}{% endif %}" class="icon icon-arrow-{% if ordering == '-latest_revision_created_at' %}up-after{% else %}down-after{% endif %} {% if ordering == 'latest_revision_created_at' or ordering == '-latest_revision_created_at' %}teal {% endif %}">
                {% trans 'Updated' %}
            </a>
        {% else %}
            {% trans 'Updated' %}
        {% endif %}
    </th>
    <th class="type">
        {% if sortable and not not_sortable_by_type %}
            <a href="{% if ordering == 'content_type' %}{% querystring ordering='-content_type' %}{% else %}{% querystring ordering='content_type' %}{% endif %}" class="icon icon-arrow-{% if ordering == '-content_type' %}up-after{% else %}down-after{% endif %} {% if ordering == 'content_type' or ordering == '-content_type' %}teal {% endif %}">
                {% trans 'Type' %}
            </a>
        {% else %}
            {% trans 'Type' %}
        {% endif %}
    </th>
    <th class="status">
        {% if sortable %}
            <a href="{% if ordering == 'live' %}{% querystring ordering='-live' %}{% else %}{% querystring ordering='live' %}{% endif %}" class="icon icon-arrow-{% if ordering == '-live' %}up-after{% else %}down-after{% endif %} {% if ordering == 'live' or ordering == '-live' %}teal {% endif %}">
                {% trans 'Status' %}
            </a>
        {% else %}
            {% trans 'Status' %}
        {% endif %}
    </th>
    <th></th>
</tr>
