{% load static from staticfiles %}

<ul class="sharing-links" data-component="sharing-links">
    <span class="label">Share</span>
    <li>
        <a id="share-twitter" rel="noopener noreferrer" target="_blank" href="{{ social_links.twitter }}">
            <img alt="share with Twitter" height="36px" src="{% static 'images/twitter.svg' %}" width="36px">
        </a>
    </li>
    <li>
        <span class="verbose">,</span>
        <a id="share-facebook" rel="noopener noreferrer" target="_blank" href="{{ social_links.facebook }}">
            <img alt="share with Facebook" height="36px" src="{% static 'images/facebook.svg' %}" width="36px">
        </a>
    </li>
    <li>
        <span class="verbose">,</span>
        <a id="share-linkedin" rel="noopener noreferrer" target="_blank" href="{{ social_links.linkedin }}">
            <img alt="share with LinkedIn" height="36px" src="{% static 'images/linkedin.svg' %}" width="36px">
        </a>
    </li>
    <li>
        <span class="verbose">,</span>
        <a id="share-email" href="{{ social_links.email }}">
        	<img alt="share via Email" height="36px" src="{% static 'images/email.svg' %}" width="36px">
        </a>
    </li>
</ul>
