{% extends "wagtailadmin/base.html" %}
{% load i18n %}
{% block titletag %}{% blocktrans with title=page.get_admin_display_title %}Copy {{ title }}{% endblocktrans %}{% endblock %}
{% block content %}
    {% trans "Copy" as copy_str %}
    {% include "wagtailadmin/shared/header.html" with title=copy_str subtitle=page.get_admin_display_title icon="doc-empty-inverse" %}
    <div class="nice-padding">
        <form id="form" path="{% url 'preload-add-page' service_name=service_name model_name=model_name parent_slug=parent_slug %}" method="POST" novalidate>

            {% for name, value in serialized_relations %}
                <input type="hidden" value="{{ value }}" name="{{ name }}" id="id_{{ name }}" />
            {% endfor %}
            {% for name, value in serialized_object %}
                {% if include_slug or name != 'slug_en_gb' %}
                    <input type="hidden" value="{{ value }}" name="{{ name }}" id="id_{{ name }}" />
                {% endif %}
            {% endfor %}
            <input type="hidden" name="next" value="{{ next }}" />
            <ul class="fields">
                {% include "wagtailadmin/shared/field_as_li.html" with field=environment_form.environment %}
            </ul>
            <input type="submit" value="{{ include_slug|yesno:'Update,Copy' }} upstream" class="button">
        </form>
    </div>
    <script>
        var form = document.getElementById('form');
        var environmentField = document.getElementById('id_environment');
        function setAction() {
            form.action = environmentField.value + form.getAttribute('path');
        }
        environmentField.addEventListener('change', setAction);
        setAction();
    </script>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    {% include "wagtailadmin/pages/_editor_js.html" %}
{% endblock %}
