{% extends 'core/base.html' %}
{% load external_url from constants_tags %}
{% block sharing_metadata %}{% endblock %}
{% block sub_header %}{# prevent the subheader from showing on form pages #}{% endblock %}
{% block content %}
<div class="ed-error-page-container container">
    <h1 class="ed-error-page-title">Something went wrong</h1>
    <ul class="ed-error-page-synopsis">
        <li>If this problem persists, please <a class="link" href="{% external_url 'feedback_directory' %}" title="report a broken link">report the problem</a>.</li>
        <li>Return to the <a class="link" href="{% url 'landing-page' %}" title="return to homepage">homepage</a>.</li>
    </ul>
    <hr>
    <p class="ed-error-page-status">HTTP 400 Error Code - Bad Request</p>
</div>

{% endblock %}
