body .object fieldset {
    max-width: none;
}

.field-row-panel {
    padding-bottom: 20px;
}

.tab-nav li a,
.tab-nav  li.settings a{
    padding-left: 10px;
    padding-right: 10px;
}

label{
    width: 100%!important;
}

body .image-chooser .chosen .preview-image {
    margin-left: 0;
}

body .image-chooser .chosen {
    padding-left: 0;
}

.field-col.multi-field {
    padding: 0;
}

.field-content {
    clear: both;
    width: 100%!important;
}

.cm-spell-error {
    background: none!important;
}

#tab-arabic input {
    direction: rtl;
}

.tab-nav a.required-for-language:after {
    border-radius: 50px;
    box-shadow: 1px 2px 2px rgba(0,0,0,.1);
    position: absolute;
    right: -.5em;
    top: -.5em;
    z-index: 5;
    min-width: .9em;
    color: #fff;
    background: #006ccc;
    content: attr(data-count);
    padding: 0 .3em;
    line-height: 1.4em;
    text-align: center;
    font-size: .8em;
 }

.required-for-language-container>label:after {
    content: "*";
    color: #cd3238;
    font-weight: 700;
    display: inline-block;
    margin-left: .5em;
    line-height: 1em;
    font-size: 13px;
}
